body {
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.cabecalhoPrincipal-nav {
    display: flex;
   
    

}

.paragrafo {
    display: flex;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 1rem;
    padding: 1rem;
    justify-content: center;
    background-color: #55DB96;
    font-size: 1.3rem;
}

.cabecalho {
    margin: 6rem 0;


}

.cabecalhoPrincipal-nav-link {
    margin: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    
}

.cabecalhoPrincipal-nav-link:hover { 
    display: flex;
    align-items: center;
    color: black;
    transition: all ease 0.3s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    position: static;
    cursor: pointer;
    

}

.conteudoPropostas, .conteudoSobre, .conteudoContato, .conteudoCampanha {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background: white;
    padding: 10px;
}

.div_conteudo_propostas h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 10px;

}

.div_conteudo_propostas p {
    font-size: 20px;
    color: black;
    text-align: left;
    text-indent: 30px;
    margin: 25px 180px 25px;
    padding: 5px;
}

.div_conteudo_sobre h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 10px;
}

.div_conteudo_sobre p {
    font-size: 20px;
    color: black;
    text-align: left;
    text-indent: 30px;
    margin: 25px 180px 25px;
    padding: 5px;
}



.imagem_1 {
    justify-content: ce;
    width: 20%;
    margin: 30px;
    
}

.imagem_2 {

    width: 30%;
    margin: 40px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);

    
}

.imagem_3 {

    width: 20%;
    margin: 40px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);
    border-radius: 50%;
    
}

.imagem_1:hover {
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
   transition: all ease 0.3s;
}

.imagem_2:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition: all ease 0.3s;
   box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.575);
}

.div_conteudo_propostas, .div_conteudo_sobre {
    text-align: center;
    margin: 10px;
}

.div_conteudo_contato {
    text-align: center;
}

.conteudoContato {
    margin: 250px 100px 50px;
    padding: 10px;
    align-items: center;

}

.titulo_contato {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    
}


.contato_lista {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;

}

.contato_item {
    text-decoration: none;
}

.imagem_contato {
    text-align: center;
    margin: 30px;
    width: 30%;
}

.imagem_contato:hover {
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
   transition: all ease 0.3s;
}


.section_footer {
    display: flex;
    flex-direction: column;
    background-color: #55DB96;
    margin: -10px;
    width: auto;

}
.conteudo_footer {
    text-align: center;
    font-size: 16px;
    padding: 8px;

}

.footer_p {
    margin: 8px;
    color: black;

}

.slider{
    margin: 0 auto;
    width: 780px;
    height: 480px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #28CD5E;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #55DB96;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 490px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: black;
}

/* inicio slide2 */

.slider2{
    margin: 0 auto;
    width: 780px;
    height: 480px;
    overflow: hidden;
}

.slides2{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides2 input {
    display: none;

}

.slide2{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide2 img{
    width: 800px;
}

.manual-navigation2{
    position: absolute;
    width: 800px;
    margin-top: 90px;
    display: none;
    justify-content: center;
}

.manual-btn2{
    border: 2px solid #28CD5E;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn2:not(:last-child){
    margin-right: 40px;
}

.manual-btn2:hover{
    background-color: black;
}

#radio11:checked ~ .first{
    margin-left: 0;
}

#radio12:checked ~ .first{
    margin-left: -25%;
}

#radio13:checked ~ .first{
    margin-left: -50%;
}

#radio14:checked ~ .first{
    margin-left: -75%;
}

#radio15:checked ~ .first{
    margin-left: -100%;
}

#radio16:checked ~ .first{
    margin-left: -125%;
}

#radio17:checked ~ .first{
    margin-left: -150%;
}

#radio18:checked ~ .first{
    margin-left: -175%;
}

#radio19:checked ~ .first{
    margin-left: -200%;
}

#radio20:checked ~ .first{
    margin-left: -225%;
}

#radio21:checked ~ .first{
    margin-left: -250%;
}

#radio22:checked ~ .first{
    margin-left: -275%;
}

#radio23:checked ~ .first{
    margin-left: -300%;
}

#radio24:checked ~ .first{
    margin-left: -325%;
}

#radio25:checked ~ .first{
    margin-left: -350%;
}

#radio26:checked ~ .first{
    margin-left: -375%;
}

#radio27:checked ~ .first{
    margin-left: -400%;
}

#radio28:checked ~ .first{
    margin-left: -425%;
}

#radio29:checked ~ .first{
    margin-left: -450%;
}

#radio30:checked ~ .first{
    margin-left: -475%;
}

.navigation-auto2 div{
    border: 2px solid #55DB96;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto2{
    position: absolute;
    width: 800px;
    margin-top: 490px;
    display: none;
    justify-content: center;
}

.navigation-auto2 div:not(:last-child){
    margin-right: 40px;

}

#radio11:checked ~ .navigation-auto2 .auto-btn11{
    background-color: black;
}

#radio12:checked ~ .navigation-auto2 .auto-btn12{
    background-color: black;
}

#radio13:checked ~ .navigation-auto2 .auto-btn13{
    background-color: black;
}

#radio14:checked ~ .navigation-auto2 .auto-btn14{
    background-color: black;
}

#radio15:checked ~ .navigation-auto2 .auto-btn15{
    background-color: black;
}

#radio16:checked ~ .navigation-auto2 .auto-btn16{
    background-color: black;
}

#radio17:checked ~ .navigation-auto2 .auto-btn17{
    background-color: black;
}

#radio18:checked ~ .navigation-auto2 .auto-btn18{
    background-color: black;
}

#radio19:checked ~ .navigation-auto2 .auto-btn19{
    background-color: black;
}

#radio20:checked ~ .navigation-auto2 .auto-btn20{
    background-color: black;
}

#radio21:checked ~ .navigation-auto2 .auto-btn21{
    background-color: black;
}

#radio22:checked ~ .navigation-auto2 .auto-btn22{
    background-color: black;
}

#radio23:checked ~ .navigation-auto2 .auto-btn23{
    background-color: black;
}

#radio24:checked ~ .navigation-auto2 .auto-btn24{
    background-color: black;
}

#radio25:checked ~ .navigation-auto2 .auto-btn25{
    background-color: black;
}

#radio26:checked ~ .navigation-auto2 .auto-btn26{
    background-color: black;
}

#radio27:checked ~ .navigation-auto2 .auto-btn27{
    background-color: black;
}

#radio28:checked ~ .navigation-auto2 .auto-btn28{
    background-color: black;
}

#radio29:checked ~ .navigation-auto2 .auto-btn29{
    background-color: black;
}

#radio30:checked ~ .navigation-auto2 .auto-btn30{
    background-color: black;
}


/* fim slider 2 */

.slider2 h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 40px;
}



